:root {
	--bg-color: #1e90ff;
}

html,
body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-color);
}

#canvas-container {
	height: 100%;
	width: 100%;

	display: grid;
	justify-content: center;
	align-items: center;
}

canvas {
	display: block;
}
